<div class="controls col-xs-12">
	<div class="row">
		<ul class="nav navbar-nav">
			<li class="col-xs-6">
				<div class="row">
					<form >
						<div class="col-xs-12">
							<div class="row">
								<input type="text" class="form-control " placeholder="search for a client">
							</div>
						</div>
							
					</form>
				</div>
			</li>
			<li><a href="#">Add</a></li>
			<li><a href="#">Delete</a></li>
			<li><a href="#">Edit</a></li>
			<li><a href="#">Export as excel</a></li>
		</ul>
	</div>
</div><!-- .controls -->
		

<div class="col-xs-3">
	<div class="row">
		<div class="tableHolder">
		   <table ng-table="tableParams" class="table table-bordered clickable-table" >
				<tr ng-repeat="user in $data" ng-click="handleRowClick(user)" ng-class="{'ok' : user.status == 'Ok', 'of' : user.status == 'OF',
				'fe' : user.status == 'FE', 'eo' : user.status == 'EO'}">
					<td data-title="'Client Name'">
				{{user.clientName}}
					</td>
					<td data-title="'Status'" filter="{ 'status': 'status' }">
				{{user.status}}
					</td>
					
				</tr>
			</table>
		</div>
		<div class="filters">
            <p>Filters</p>
			<div class="radio">
			  <label>
				<input type="radio" name="filter-status" value="">
				All [Default]
			  </label>
			</div>
			<div class="radio">
			  <label>
				<input type="radio" name="filter-status" value="OK">
				Errors
			  </label>
			</div>
			<div class="radio">
			  <label>
				<input type="radio" name="filter-status" value="OF">
				Open
			  </label>
			</div>

           
        </div>
	</div>
</div>

<div class="col-xs-9">
	<div class="row">
	   <table ng-table="tableParams1" class="table table-bordered">
	<tr ng-repeat="rightSideTable in $data" >
		<td data-title="'Log File'" >
	{{rightSideTable.logFile}}
		</td>
		<td data-title="'log Description'">
	{{rightSideTable.logDescription}}
		</td>
		<td data-title="'Lines'">
	{{rightSideTable.lines}}
		</td>
	</tr>
		</table>
	</div>
</div>